.imageElement--banner{
    border-radius: 2rem;
}
/*.container {
    padding-left: 16rem;
    padding-right: 16rem;
}*/
.carouselContainer {
    margin-top: 2rem;
}
.carouselGaleryThumbs {
    display: none;
}
.productBrand {
    color: #fff;
    font-size: larger;
    font-weight: 700;
}
.productImagesGallerySlide {
    width: 610px;
}
.carouselGaleryCursor {
    width: 610px;
}
.productDescriptionText{
    color: #fff;
}
.productDescriptionTitle{
    color: #59ff00;
}