.flexRowContent--menu-bar {
    background-color: #212121;
}
.flexRowContent--product-card {
    background-color: #424242;
}
.flexRowContent--selector-row {
    margin-top: 7rem;
    margin-bottom: 2rem;
}
.flexRowContent--product-name {
    margin-top: 2rem;
    margin-bottom: 1rem;
}