.flexRowContent--menu-bar {
    background-color: #212121;
}
.flexRowContent--product-card {
    background-color: #424242;
}
.flexRowContent--selector-row {
    margin-top: 7rem;
}
.flexRowContent--product-name {
    margin-top: 2rem;
    margin-bottom: 1rem;
}
/* Descrição do produto */
.flexCol--description{
    background-color: #424242;
    padding: 2rem;
}
.flexRow--buy-row {
    margin: 2rem 0;
}
/* Footer */
.flexColChild--footer-col {
    display: flex;
    justify-content: center;
}
.flexRowContent--main-header-mobile {
    background-color: #212121;
}
